body {
  margin: 0;
  padding: 0;
}

.caf-header-root {
  position: fixed;
  top: 12px;
  left: 12px;
}

.caf-header-root .fill-1 {
  fill: #000000;
}

.caf-header-root .fill-2 {
  fill: #00000066;
}
