body {
  margin: 0;
  padding: 0;
}

.caf-header-root {
  position: fixed;
  top: 12px;
  left: 12px;
}

.caf-header-root .fill-1 {
  fill: #000000;
}

.caf-header-root .fill-2 {
  fill: #00000066;
}

.lm-flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.caf-scrolling-text {
  height: 100vh;
  width: 100%;
}

.caf-scrolling-text__text {
  max-width: 560px;
  font-family: var(--lmui-ff-marr-sans, var(--ff-marr-sans));
  line-height: 140%;
}